<footer>
    <div class="px-8 py-12 flex flex-col space-y-9 md:flex-row md:justify-between md:items-center md:space-y-0">
        <!-- Contacts -->
        <div class="flex flex-col space-y-3">
            <span class="font-semibold text-gray-500 text-sm">JUNAID AL ATOOR</span>
            <p class="text-sm text-gray-800">C-7/38, Surya Hospital Road,</p>
            <p class="text-sm text-gray-800">Near Indian Oil Petrol Pump,</p>
            <p class="text-sm text-gray-800">Gunjan - Vapi (E), 396 195</p>
            <span class="font-semibold text-gray-500 text-sm">Customer Care: <span
                    class="underline">1234567890</span></span>
            <span class="font-semibold text-gray-500 text-sm">support@junaidalatoor.com</span>
        </div>
        <!-- Quick Links -->
        <div class="flex flex-col space-y-3">
            <span class="font-semibold text-gray-500 text-sm">QUICK LINKS</span>
            <p class="text-sm text-gray-800">Search</p>
            <p class="text-sm text-gray-800">Account</p>
            <p class="text-sm text-gray-800">Contact Us</p>
            <p class="text-sm text-gray-800">Terms of Service</p>
            <p class="text-sm text-gray-800">Refund Policy</p>
        </div>
        <!-- News Letter -->
        <div class="flex flex-col space-y-3">
            <span class="font-semibold text-gray-500 text-sm">NEWSLETTER</span>
            <p class="text-sm text-gray-800">
                Subscribe to receive updates, access to exclusive deals, and more.
            </p>
            <input type="text" name="email" id="email" placeholder="E-mail"
                class="outline-none px-3 py-2 border border-gray-300" />
            <button class="w-full px-3 py-2 primary-btn-full hover:before:translate-x-0 hover:text-black md:w-3/5 lg:w-2/5">
                SUBSCRIBE
            </button>
        </div>
    </div>
    <!-- Social Links + Copyright -->
    <div class="px-8 my-4 flex space-x-5 items-center ">
        <a href="#">
            <img src="/assets/facebook.svg" alt="" class="h-5 w-5" style="filter: brightness(0) saturate(100%) invert(44%) sepia(3%) saturate(1991%) hue-rotate(182deg) brightness(97%) contrast(84%);">
        </a>
        <a href="#">
            <img src="/assets/instagram.svg" alt="" class="h-5 w-5" style="filter: brightness(0) saturate(100%) invert(44%) sepia(3%) saturate(1991%) hue-rotate(182deg) brightness(97%) contrast(84%);">
        </a>
        <a href="#">
            <img src="/assets/youtube.svg" alt="" class="h-5 w-5" style="filter: brightness(0) saturate(100%) invert(44%) sepia(3%) saturate(1991%) hue-rotate(182deg) brightness(97%) contrast(84%);">
        </a>
        <a href="#">
            <img src="/assets/whatsapp.svg" alt="" class="h-5 w-5" style="filter: brightness(0) saturate(100%) invert(44%) sepia(3%) saturate(1991%) hue-rotate(182deg) brightness(97%) contrast(84%);">
        </a>
    </div>
    <span class="px-8 text-gray-500 text-xs text-center md:text-left">&copy; 2024 - JUNAID AL-ATOOR</span>
</footer>