<div class="bg-blue-300 w-screen py-3 overflow-x-hidden">
    <!-- Flex Container -->
    <div class="flex px-2 py-3 items-center justify-between">
        <!-- Hamburger Menu -->
        <!--  -->
        <!-- Logo + Links -->
        <div class="flex items-center space-x-5 md:space-y-7">
            <a href="/" class="text-lg tracking-wider md:px-5 md:text-xl lg:text-5xl">Junaid Al-Atoor</a>
            <!-- links -->
            <div class="hidden md:flex md:space-x-7">
                <div class="flex flex-col items-center">
                    <span class="cursor-pointer">BEST SELLER</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="cursor-pointer">FRAGARANCE</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="cursor-pointer">BRANDS</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="cursor-pointer">FANCY BOTTLE</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="cursor-pointer">ACCESSORIES</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="cursor-pointer">DECANT/SAMPLE</span>
                </div>
            </div>
        </div>

        <!-- user + search + cart -->
        <div class="flex space-x-3">
            <img src="/assets/person.svg" alt="" class="cursor-pointer">
            <img src="/assets/search.svg" alt="" class="cursor-pointer">
            <img src="/assets/shopping-bag.svg" alt="" class="cursor-pointer">
        </div>
    </div>
</div>