<div class="sticky top-0 left-0 right-0 z-40 <%= _url_ === "/" ? "bg-transparent" : "bg-white" %> w-screen py-3 hover:bg-white group lg:px-7">
    <!-- Flex Container -->
    <div class="flex px-2 py-3 items-center justify-between">
        <!-- Hamburger Menu -->
        <img id="open-hamburger-btn" src="/assets/hamburger-menu.svg" alt="" class="h-8 w-8 invert lg:hidden">
        <!-- Logo + Links -->
        <div class="flex items-center space-x-5 px-3 md:px-5 md:space-y-7">
            <a href="/" class="text-sm text-gray-600 group-hover:text-black md:tracking-wider md:px-5 md:text-xl lg:text-5xl">Junaid Al-Atoor</a>
            <!-- links -->
            <div class="hidden <%= _url_ === "/" ? "text-white group-hover:text-black" : "" %> lg:flex lg:space-x-7">
                <!-- Dropdown link -->
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">BEST SELLER</span>
                    <div class="dropdown-content">
                        <a href="#">Arabic attars</a>
                        <a href="#">French attars</a>
                    </div>
                </div>
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">FRAGARANCE</span>
                    <div class="dropdown-content">
                        <a href="#">Men</a>
                        <a href="#">Women</a>
                    </div>
                </div>
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">BRANDS</span>
                    <div class="dropdown-content">
                        <a href="#">Junaid Al Atoor</a>
                        <a href="#">Ajmal</a>
                        <a href="#">Ahmed Perfumes</a>
                        <a href="#">Rasasi</a>
                        <a href="#">Ard al Zaafram</a>
                        <a href="#">Davidoff</a>
                        <a href="#">Lattafa</a>
                        <a href="#">Naseem Perfumes</a>
                        <a href="#">Didn't find required perfume</a>
                    </div>
                </div>
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">FANCY BOTTLE</span>
                    <div class="dropdown-content">
                        <a href="#">Attar bottle</a>
                        <a href="#">Perfume bottle</a>
                    </div>
                </div>
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">ACCESSORIES</span>
                    <div class="dropdown-content">
                        <a href="#">Mens Cap</a>
                        <a href="#">Musallah</a>
                    </div>
                </div>
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">DECANT/SAMPLE</span>
                    <div class="dropdown-content">
                        <a href="#">Decant</a>
                        <a href="#">Decant List</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- user + search + cart -->
        <div class="flex space-x-1 px-3 md:space-x-3 md:px-5">
            <img src="/assets/person.svg" alt="" class=" hidden cursor-pointer invert group-hover:invert-0 w-8 md:w-10 md:block">
            <img src="/assets/search.svg" alt="" class="cursor-pointer invert group-hover:invert-0 w-8 md:w-10">
            <img src="/assets/shopping-bag.svg" alt="" class="cursor-pointer invert group-hover:invert-0 w-8 md:w-10">
        </div>
    </div>
</div>