<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reloads the page every specified second -->
    <!-- <meta http-equiv="refresh" content="2"> -->
    <title>ShopNest</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/cookie.js" type="module" defer></script>
    <script src="/js/globals.js" type="module" defer></script>
</head>
<body class="overflow-x-hidden">
    <%- body %>
</body>
</html>