@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger */
.hamburger--open {
    @apply -translate-x-0;
}
.hamburger--close {
    @apply -translate-x-full;
}
/* Banner */
.banner {
    @apply absolute h-full w-full;
}
.banner-img {
    @apply opacity-0 object-cover object-center absolute;
    transition: opacity 1000ms ease-in;
    height: 100%;
    width: 100%;
}
.banner-content {
    @apply flex bg-white opacity-70 p-5 text-center flex-col space-y-2;
    @apply w-3/4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2; /* center content */
    @apply md:space-y-5 md:w-1/2 lg:w-1/5; /* responsive styles */
}
.banner-content > h2 {
    @apply text-gray-800 text-xl uppercase md:text-3xl lg:text-4xl;
}
.banner-content > h4 {
    @apply text-gray-500 font-semibold uppercase text-xs;
}
.banner-content > button {
    /* @apply w-4/5 mx-auto cursor-pointer text-sm px-3 py-1 bg-white md:px-5 md:py-3; */
    @apply  mx-auto cursor-pointer text-sm px-5 py-1 bg-white md:px-5 md:py-3;
}
.banner-img.banner-selected {
    opacity: 1;
}
/* .banner-selected .banner-content {
    display: flex;
} */
/* Product Card */
.product-card {
    @apply flex flex-col items-center space-y-5 snap-start min-w-[50vw] md:min-w-[33vw] lg:min-w-[25vw];
}
.product-card > img {
    @apply h-4/5 object-contain object-center;
}
.product-card > .product-name {
    @apply font-semibold text-gray-800;
}
.product-card > .product-price {
    @apply text-gray-600;
}
/* Section */
.section {
    @apply relative w-11/12 mx-auto;
    /* @apply group/section-img; */
}
.section-image-wrapper {
    @apply relative overflow-hidden;
}
.section-image-wrapper > img {
    @apply relative z-20;
    @apply transition-transform duration-[2s];
    /* @apply group-hover/section-img:scale-105; */
}
.section-image-wrapper > .section-overlay {
    @apply absolute inset-0 bg-black z-30 opacity-40;
}
.section > .section-content {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-40 flex flex-col space-y-5;
}
/* Header Dropdown */
.dropdown-link {
    @apply relative;
}
.dropdown-content {
    /* Spaces not allowed in calc() */
    @apply min-w-full flex flex-col divide-y divide-gray-100 bg-white text-gray-800 rounded-sm opacity-0 transition-all duration-500 invisible;
    @apply absolute top-[calc(100%_+_20px)];
    @apply group-hover/dropdown:opacity-100 group-hover/dropdown:visible;
    @apply group-focus-within/dropdown:opacity-100 group-focus-within/dropdown:visible;
}
.dropdown-content > a {
    @apply p-4 pr-16 w-max;
    @apply hover:text-gray-400;
}
/* Button */
.primary-btn-bordered {
    @apply bg-transparent text-black rounded-lg text-center text-lg relative overflow-x-hidden z-10 border border-gray-300 px-3 py-1;
    @apply before:inline-block before:absolute before:inset-0 before:bg-black before:-translate-x-full before:transition-transform before:-z-10 before:duration-500;
    /* @apply hover:before:translate-x-0 hover:text-white; */
    @apply md:px-3 md:py-2 lg:px-5 lg:py-3;
}
.primary-btn-full {
    @apply bg-transparent text-white rounded-md text-center text-lg relative overflow-x-hidden z-10 border border-gray-300 px-3 py-1;
    @apply before:inline-block before:absolute before:inset-0 before:bg-gray-200 before:-translate-x-full before:transition-transform before:-z-10 before:duration-500;
    @apply after:inline-block after:absolute after:inset-0 after:bg-black after:-z-20;
    /* @apply hover:before:translate-x-0 hover:text-black; */
    @apply md:px-5 md:py-3;
}